@model GestionColegios.Models.CursoAcademicoEstudiante

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CursoAcademicoEstudiante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Promedio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Promedio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aprobado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aprobado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CursoAcademico.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CursoAcademico.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estudiante.CodigoEstudiante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estudiante.CodigoEstudiante)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
