@model GestionColegios.ViewModels.VMCursoAcademico

@{
    ViewBag.Title = "Crear Curso Académico";
}

<h2>Crear Curso Académico</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.CursoAcademico.Nombre)
        @Html.EditorFor(model => model.CursoAcademico.Nombre)
        @Html.ValidationMessageFor(model => model.CursoAcademico.Nombre)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CursoAcademico.MaestroId)
        @Html.DropDownListFor(model => model.CursoAcademico.MaestroId, new SelectList(Model.Maestros, "Id", "Codigo"))
        @Html.ValidationMessageFor(model => model.CursoAcademico.MaestroId)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CursoAcademico.SeccionId)
        @Html.DropDownListFor(model => model.CursoAcademico.SeccionId, new SelectList(Model.Secciones, "Id", "Nombre"))
        @Html.ValidationMessageFor(model => model.CursoAcademico.SeccionId)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CursoAcademico.AñoAcademicoId)
        @Html.DropDownListFor(model => model.CursoAcademico.AñoAcademicoId, new SelectList(Model.AñosAcademicos, "Id", "Nombre"))
        @Html.ValidationMessageFor(model => model.CursoAcademico.AñoAcademicoId)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CursoAcademico.AñoId)
        @Html.DropDownListFor(model => model.CursoAcademico.AñoId, new SelectList(Model.Años, "Id", "Id"))
        @Html.ValidationMessageFor(model => model.CursoAcademico.AñoId)
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
}
