@model GestionColegios.Models.EficienciaFisica

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EficienciaFisica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Año)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Año)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Semestre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semestre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CursoAcademico.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CursoAcademico.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsolidadoEficienciaFisica.Genero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsolidadoEficienciaFisica.Genero)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
