@model GestionColegios.ViewModels.VMAñosPeriodosSemestres

@{
    ViewBag.Title = "Editar Año Académico";
}

<h2>Editar Año Académico</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.Año.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Año.Nombre)
        @Html.TextBoxFor(model => model.Año.Nombre, new { @class = "form-control", placeholder = "Ingrese el nombre del año académico" })
        @Html.ValidationMessageFor(model => model.Año.Nombre, "", new { @class = "text-danger" })
    </div>


 
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
}

