@model GestionColegios.ViewModels.VMAñosPeriodosSemestres

@{
    ViewBag.Title = "Gestionar Años, Periodos y Semestres";
}

<h2>Gestionar Años, Periodos y Semestres</h2>

<div class="container mt-1">
    <ul class="nav nav-tabs" id="myTab" role="tablist">

        <li class="nav-item" role="presentation">
            <button class="nav-link" id="años-list-tab" data-bs-toggle="tab" data-bs-target="#años-list" type="button" role="tab" aria-controls="años-list" aria-selected="false">Lista de Años Académicos</button>
        </li>

        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="años-create-tab" data-bs-toggle="tab" data-bs-target="#años-create" type="button" role="tab" aria-controls="años-create" aria-selected="true">Agregar Años Académicos</button>
        </li>

        <li class="nav-item" role="presentation">
            <button class="nav-link" id="periodos-list-tab" data-bs-toggle="tab" data-bs-target="#periodos-list" type="button" role="tab" aria-controls="periodos-list" aria-selected="false">Lista de Periodos</button>
        </li>

        <li class="nav-item" role="presentation">
            <button class="nav-link" id="periodos-create-tab" data-bs-toggle="tab" data-bs-target="#periodos-create" type="button" role="tab" aria-controls="periodos-create" aria-selected="false">Agregar Periodos</button>
        </li>

        <li class="nav-item" role="presentation">
            <button class="nav-link" id="semestres-list-tab" data-bs-toggle="tab" data-bs-target="#semestres-list" type="button" role="tab" aria-controls="semestres-list" aria-selected="false">Lista de Semestres</button>
        </li>

        <li class="nav-item" role="presentation">
            <button class="nav-link" id="semestres-create-tab" data-bs-toggle="tab" data-bs-target="#semestres-create" type="button" role="tab" aria-controls="semestres-create" aria-selected="false">Agregar Semestres</button>
        </li>

    </ul>

    <div class="tab-content" id="myTabContent">
        @Html.Partial("_AñosCreate", Model)
        @Html.Partial("_AñosList", Model)
        @Html.Partial("_PeriodosCreate", Model)
        @Html.Partial("_PeriodosList", Model)
        @Html.Partial("_SemestresCreate", Model)
        @Html.Partial("_SemestresList", Model)
    </div>
</div>
