@model GestionColegios.Models.Matricula

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Matricula</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Continuidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Continuidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Traslado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Traslado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Repitente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Repitente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaMatricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaMatricula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aprobado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aprobado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estudiante.CodigoEstudiante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estudiante.CodigoEstudiante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tutor.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tutor.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Periodos.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Periodos.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AñoAcademico.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AñoAcademico.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
