@using Microsoft.AspNet.Identity
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    @Styles.Render("~/Styles/css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body class="@(Request.IsAuthenticated ? "authenticated" : "login-page")" data-success-message="@TempData["SuccessMessage"]"
      data-error-message="@TempData["ErrorMessage"]">
    @if (Request.IsAuthenticated)
    {
        <!-- Modales de Guardado, borrado y de extender sesion -->
        @Html.Partial("_ModalGuardado")
        @Html.Partial("_ModalBorrado")
        @Html.Partial("_ModalExtenderSesion")


        @Html.Partial("_Header");
        @Html.Partial("_SideBar")
        <div class="vh-100">
            @RenderBody();
        </div>
    }
    else
    {
        @RenderBody();
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
