@model IEnumerable<GestionColegios.Models.ControlMerienda>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaEntrega)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AsistenciaEsperadaMujeres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AsistenciaEsperadaTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AsistenciaRealMujeres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AsistenciaRealTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EAceite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EArroz)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ECereal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EFrijoles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMaiz)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreEstudiante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirmaDocente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CedulaTutor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirmaTutor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InventarioAlimentoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CursoAcademico.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RAceite.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RArroz.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RCereal.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RFrijoles.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RMaiz.Codigo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaEntrega)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AsistenciaEsperadaMujeres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AsistenciaEsperadaTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AsistenciaRealMujeres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AsistenciaRealTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EAceite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EArroz)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ECereal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EFrijoles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMaiz)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreEstudiante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirmaDocente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CedulaTutor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirmaTutor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaModificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InventarioAlimentoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CursoAcademico.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RAceite.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RArroz.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RCereal.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RFrijoles.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RMaiz.Codigo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
