@model GestionColegios.ViewModels.VMEstudiantes

@{
    ViewBag.Title = "Gestionar Estudiantes";
}

<h2>Gestionar Estudiantes</h2>

<div class="container mt-1">

    <!-- Navegación de Tabs -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="crear-editar-tab" data-bs-toggle="tab" data-bs-target="#crear-editar" type="button" role="tab" aria-controls="crear-editar" aria-selected="true">Crear/Editar Estudiante</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="listar-tab" data-bs-toggle="tab" data-bs-target="#listar" type="button" role="tab" aria-controls="listar" aria-selected="false">Listar Estudiantes</button>
        </li>
    </ul>

    <!-- Contenido de las Tabs -->
    <div class="tab-content" id="myTabContent">
        <!-- Tab Crear/Editar -->
        <div class="tab-pane fade show active" id="crear-editar" role="tabpanel" aria-labelledby="crear-editar-tab">
            <div class="row mt-2">
                <div class="col-md-12">
                    @using (Html.BeginForm("Create", "EstudianteWeb", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Estudiante.Id)

                        <div class="row">

                            <!-- Información Personal -->
                            <div class="col-md-5 card">
                                <div class="row card" style="background-color: #001c7d">
                                    <label class="m-md-1" style="color:white"> <i class="fa fa-upload mr-md-2" aria-hidden="true"></i>Información Personal</label>
                                </div>

                                <!-- Nombres -->
                                <div class="form-group mb-3">
                                    <label for="Nombres">Nombres</label>
                                    @Html.TextBoxFor(model => model.Estudiante.Nombres, new { @class = "form-control", placeholder = "Ingrese los nombres" })
                                </div>

                                <!-- Apellidos -->
                                <div class="form-group mb-3">
                                    <label for="Apellidos">Apellidos</label>
                                    @Html.TextBoxFor(model => model.Estudiante.Apellidos, new { @class = "form-control", placeholder = "Ingrese los apellidos" })
                                </div>

                                <!-- Fecha de nacimiento -->
                                <div class="form-group mb-3">
                                    <label for="FechaNacimiento">Fecha de Nacimiento</label>
                                    @Html.TextBoxFor(model => model.Estudiante.FechaNacimiento, new { @class = "form-control", @type = "date", placeholder = "Ingrese la fecha de nacimiento" })
                                </div>

                                <!-- Edad -->
                                <div class="form-group mb-3">
                                    <label for="Edad">Edad</label>
                                    @Html.TextBoxFor(model => model.Estudiante.Edad, new { @class = "form-control", placeholder = "Ingrese la edad" })
                                </div>

                                <!-- Sexo -->
                                <div class="form-group mb-3">
                                    <label for="Sexo">Sexo</label>
                                    @Html.DropDownListFor(model => model.Estudiante.Sexo, new SelectList(new List<string> { "Masculino", "Femenino" }), "Seleccione el sexo", new { @class = "form-control" })
                                </div>

                                <!-- Dirección -->
                                <div class="form-group mb-3">
                                    <label for="Direccion">Dirección</label>
                                    @Html.TextBoxFor(model => model.Estudiante.Direccion, new { @class = "form-control", placeholder = "Ingrese la dirección" })
                                </div>
                            </div>

                            <!-- Información del tutor -->
                            <div class="col-md-5 card">
                                <div class="row card" style="background-color: #001c7d">
                                    <label class="m-md-1" style="color:white"> <i class="fa fa-upload mr-md-2" aria-hidden="true"></i>Información del tutor</label>
                                </div>

                                <!-- Nombres del Tutor -->
                                <div class="form-group mb-3">
                                    <label for="TutorNombres">Nombres del Tutor</label>
                                    @Html.TextBoxFor(model => model.Tutor.Nombres, new { @class = "form-control", placeholder = "Ingrese los nombres del tutor" })
                                </div>

                                <!-- Apellidos del Tutor -->
                                <div class="form-group mb-3">
                                    <label for="TutorApellidos">Apellidos del Tutor</label>
                                    @Html.TextBoxFor(model => model.Tutor.Apellidos, new { @class = "form-control", placeholder = "Ingrese los apellidos del tutor" })
                                </div>

                                <!-- Cédula del Tutor -->
                                <div class="form-group mb-3">
                                    <label for="TutorCedula">Cédula del Tutor</label>
                                    @Html.TextBoxFor(model => model.Tutor.Cedula, new { @class = "form-control", placeholder = "Ingrese la cédula del tutor" })
                                </div>

                                <!-- Relación del Tutor -->
                                <div class="form-group mb-3">
                                    <label for="TutorRelacion">Relación con el Estudiante</label>
                                    @Html.TextBoxFor(model => model.Tutor.RelacionConElEstudiante, new { @class = "form-control", placeholder = "Ingrese la relación con el estudiante" })
                                </div>

                                <!-- Dirección del Tutor -->
                                <div class="form-group mb-3">
                                    <label for="TutorDireccion">Dirección del Tutor</label>
                                    @Html.TextBoxFor(model => model.Tutor.Direccion, new { @class = "form-control", placeholder = "Ingrese la dirección del tutor" })
                                </div>

                                <!-- Celular del Tutor -->
                                <div class="form-group mb-3">
                                    <label for="TutorCelular">Celular del Tutor</label>
                                    @Html.TextBoxFor(model => model.Tutor.Celular, new { @class = "form-control", placeholder = "Ingrese el celular del tutor" })
                                </div>
                            </div>

                            <!-- Botón para registrar o editar -->
                            <div class="form-group col-md-2  mt-4">
                                <button type="submit" class="btn btn-primary">
                                    @(Model.Estudiante.Id == 0 ? "Registrar" : "Guardar Cambios")
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="listar" role="tabpanel" aria-labelledby="listar-tab">
            <div class="row mt-4">
                <div class="container">

                    <!-- Filtros y barra de búsqueda -->
                    <div class="d-flex justify-content-between align-items-center mb-3">

                        <!-- Selección del tipo de búsqueda -->
                        <div class="form-group">
                            <label for="searchType">Buscar por:</label>
                            <select id="searchType" class="form-select">
                                <option value="nombres">Nombre Estudiante</option>
                                <option value="apellidos">Apellido Estudiante</option>
                                <option value="codigo">Código Estudiante</option>
                                <option value="direccion">Dirección</option>
                            </select>
                        </div>

                        <!-- Barra de búsqueda -->
                        <div class="form-group">
                            <input type="text" id="search" class="form-control" placeholder="Buscar...">
                        </div>


                        <!-- Spinner de carga (oculto por defecto) -->
                        <div id="spinner" class="spinner-border text-primary" role="status" style="display: none;">
                            <span class="visually-hidden">Cargando...</span>
                        </div>
                    </div>

                    <!-- Tabla de Estudiantes -->
                    <table style="width: 100%;" class="table-responsive table-striped table-hover table-bordered align-middle">
                        <thead style="background-color: #001c7d; color: white;">
                            <tr>
                                <th scope="col">Código</th>
                                <th scope="col">Nombres</th>
                                <th scope="col">Apellidos</th>
                                <th scope="col">Fecha de Nacimiento</th>
                                <th scope="col">Edad</th>
                                <th scope="col">Sexo</th>
                                <th scope="col">Dirección</th>
                                <th scope="col">Activo</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="tableBody">
                            @foreach (var estudiante in Model.Estudiantes)
                            {
                                <tr>
                                    <td>@estudiante.CodigoEstudiante</td>
                                    <td>@estudiante.Nombres</td>
                                    <td>@estudiante.Apellidos</td>
                                    <td>@estudiante.FechaNacimiento.ToString("yyyy-MM-dd")</td>
                                    <td>@estudiante.Edad</td>
                                    <td>@estudiante.Sexo</td>
                                    <td>@estudiante.Direccion</td>
                                    <td>@(estudiante.Activo ? "Sí" : "No")</td>
                                    <td>
                                        <a href="@Url.Action("Edit", "EstudianteWeb", new { id = estudiante.Id })" class="btn btn-sm btn-warning">
                                            Editar
                                        </a>
                                        <a href="@Url.Action("Delete", "EstudianteWeb", new { id = estudiante.Id })" class="btn btn-sm btn-danger">
                                            Eliminar
                                        </a>

                                        <a href="@Url.Action("Create", "Matriculas", new { estudianteId = estudiante.Id, tutorId = Model.Tutor?.Id })" class="btn btn-sm btn-success">
                                            Matricular
                                        </a>

                                        <a href="@Url.Action("Historial", "Matriculas", new { estudianteId = estudiante.Id })" class="btn btn-secondary">Ver Historial de Matrículas</a>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
