@model IEnumerable<GestionColegios.Models.ConsolidadoEficienciaFisica>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Año)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semestre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadAlumnos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PromedioPeso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PromedioTalla)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PromedioVelocidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PromedioResistencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PromedioSalto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PromedioPechadas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PromedioAbdominales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaConsolidado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Año)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Semestre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Edad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadAlumnos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PromedioPeso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PromedioTalla)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PromedioVelocidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PromedioResistencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PromedioSalto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PromedioPechadas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PromedioAbdominales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaConsolidado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaModificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
