@model GestionColegios.Models.ControlMerienda

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>ControlMerienda</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Codigo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Codigo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FechaEntrega)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FechaEntrega)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AsistenciaEsperadaMujeres)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AsistenciaEsperadaMujeres)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AsistenciaEsperadaTotal)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AsistenciaEsperadaTotal)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AsistenciaRealMujeres)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AsistenciaRealMujeres)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AsistenciaRealTotal)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AsistenciaRealTotal)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SAceite)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SAceite)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SArroz)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SArroz)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SCereal)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SCereal)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SFrijoles)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SFrijoles)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SMaiz)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SMaiz)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FirmaDocente)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FirmaDocente)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CedulaTutor)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CedulaTutor)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FirmaTutor)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FirmaTutor)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FechaModificacion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FechaModificacion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Activo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Activo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CursoAcademico.Nombre)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CursoAcademico.Nombre)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RAceite.Codigo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RAceite.Codigo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RArroz.Codigo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RArroz.Codigo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RCereal.Codigo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RCereal.Codigo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RFrijoles.Codigo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RFrijoles.Codigo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RMaiz.Codigo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RMaiz.Codigo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Estudiante.CodigoEstudiante)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Estudiante.CodigoEstudiante)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
