@using GestionColegios.Models
@model LoginViewModel

@{
    ViewBag.Title = "Iniciar sesión";
}
<div class="fondo-colegio">
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="A-25 rounded-5">
            <div class="A-25-header">
                <img src="~/Content/Images/logo.png" alt="Logo del colegio" />
                <h3>@ViewBag.Title</h3>
                <i class="fa fa-lock fa-2x"></i>
            </div>
            <div class="A-25-body">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group text-center">
                        @Html.LabelFor(m => m.NombreUsuario, new { @class = "col-form-label fs-5" })
                        <div class="d-flex justify-content-center">
                            @Html.TextBoxFor(m => m.NombreUsuario, new { @class = "form-control text-center fs-5", placeholder = "Correo electrónico", style = "max-width: 400px;" })
                        </div>
                        @Html.ValidationMessageFor(m => m.NombreUsuario, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group text-center">
                        @Html.LabelFor(m => m.Password, new { @class = "col-form-label fs-5" })
                        <div class="d-flex justify-content-center">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control text-center fs-5", placeholder = "Contraseña", style = "max-width: 400px;" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group form-check mt-3">
                        @Html.CheckBoxFor(m => m.RememberMe, new { @class = "form-check-input fs-5 ms-2" })
                        @Html.LabelFor(m => m.RememberMe, new { @class = "form-check-label fs-5 " })
                    </div>

                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary"><span class="fs-5">Iniciar Sesión </span></button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script src="https://kit.fontawesome.com/a076d05399.js"></script> <!-- Cargar Font Awesome -->

