@model GestionColegios.ViewModels.VMUsuario

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to deactivate this user?</h3>
<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usuario.NombreUsuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario.NombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.ClaveHash)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario.ClaveHash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.CorreoRecuperacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario.CorreoRecuperacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.FechaModificacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario.FechaModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Activo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario.Activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Rol.Codigo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario.Rol.Codigo)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Deactivate" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
