@model GestionColegios.ViewModels.VMUsuario

@{
    ViewBag.Title = "Gestión de Usuarios, Roles y Permisos";
}

<style>
    .tooltip {
        display: none;
        position: absolute;
        background-color: #f9d6a8;
        border: 1px solid #f0ad4e;
        padding: 5px;
        border-radius: 5px;
        z-index: 1000;
    }

    .has-error {
        position: relative;
    }

        .has-error .tooltip {
            display: block;
        }
</style>

<h2>Gestión de Usuarios, Roles y Permisos</h2>

<div class="container mt-1">

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["SuccessMessage"]
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["ErrorMessage"]
        </div>
    }

<ul class="nav nav-tabs" id="myTab" role="tablist">

    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="listar-usuarios-tab" data-bs-toggle="tab" data-bs-target="#listar-usuarios" type="button" role="tab" aria-controls="listar-usuarios" aria-selected="true">Listar Usuarios</button>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link " id="agregar-usuario-tab" data-bs-toggle="tab" data-bs-target="#agregar-usuario" type="button" role="tab" aria-controls="agregar-usuario" aria-selected="false">Agregar Usuario</button>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link" id="listar-roles-tab" data-bs-toggle="tab" data-bs-target="#listar-roles" type="button" role="tab" aria-controls="listar-roles" aria-selected="false">Listar Roles</button>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link" id="agregar-rol-tab" data-bs-toggle="tab" data-bs-target="#agregar-rol" type="button" role="tab" aria-controls="agregar-rol" aria-selected="false">Agregar Rol</button>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link" id="listar-permisos-tab" data-bs-toggle="tab" data-bs-target="#listar-permisos" type="button" role="tab" aria-controls="listar-permisos" aria-selected="false">Listar Permisos</button>
    </li>

    <li class="nav-item" role="presentation">
        <button class="nav-link" id="agregar-permiso-tab" data-bs-toggle="tab" data-bs-target="#agregar-permiso" type="button" role="tab" aria-controls="agregar-permiso" aria-selected="false">Agregar Permiso</button>
    </li>

</ul>

    <div class="tab-content" id="myTabContent">


        <div class="tab-pane fade" id="listar-usuarios" role="tabpanel" aria-labelledby="listar-usuarios-tab">
            @Html.Partial("_ListarUsuarios", Model)
        </div>

        <div class="tab-pane fade show active" id="agregar-usuario" role="tabpanel" aria-labelledby="agregar-usuario-tab">
            @Html.Partial("_AgregarUsuario", Model)
        </div>

        <div class="tab-pane fade" id="listar-roles" role="tabpanel" aria-labelledby="listar-roles-tab">
            @Html.Partial("_ListarRoles", Model)
        </div>


        <div class="tab-pane fade" id="agregar-rol" role="tabpanel" aria-labelledby="agregar-rol-tab">
            @Html.Partial("_AgregarRol", Model)
        </div>

        <div class="tab-pane fade" id="listar-permisos" role="tabpanel" aria-labelledby="listar-permisos-tab">
            @Html.Partial("_ListarPermisos", Model)
        </div>

        <div class="tab-pane fade" id="agregar-permiso" role="tabpanel" aria-labelledby="agregar-permiso-tab">
            @Html.Partial("_AgregarPermiso", Model)
        </div>


    </div>
</div>
