@model GestionColegios.Models.InventarioAlimento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InventarioAlimento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreAlimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreAlimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnidadDeMedida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnidadDeMedida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaReabastecimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaReabastecimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
