@model GestionColegios.ViewModels.VMCalificaciones

@{
    ViewBag.Title = "Registrar Calificaciones";
}

<h2>Registrar Calificaciones</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <!-- Campo oculto para EstudianteId -->
    @Html.HiddenFor(m => m.Calificacion.EstudianteId)

    <table class="table">
        <thead>
            <tr>
                <th>Materia</th>
                <th>Parcial I (Cuantitativa)</th>
                <th>Parcial I (Cualitativa)</th>
                <th>Parcial II (Cuantitativa)</th>
                <th>Parcial II (Cualitativa)</th>
                <th>Parcial III (Cuantitativa)</th>
                <th>Parcial III (Cualitativa)</th>
                <th>Parcial IV (Cuantitativa)</th>
                <th>Parcial IV (Cualitativa)</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Materias.Count; i++)
            {
                var materia = Model.Materias[i];
                <tr>
                    <!-- Campo oculto para el MateriaId -->
                    @Html.Hidden("Calificaciones[" + i + "].MateriaId", materia.Id)

                    <td>@materia.Nombre</td>

                    <!-- Parcial I -->
                    <td>
                        @Html.EditorFor(m => m.Calificaciones[i].NCuantitativa, new { htmlAttributes = new { @class = "form-control", placeholder = "Nota Parcial I" } })
                        @Html.Hidden("Calificaciones[" + i + "].ParcialId", 2) <!-- ID para Parcial I -->
                    </td>
                    <td>
                        @Html.EditorFor(m => m.Calificaciones[i].NCualitativa, new { htmlAttributes = new { @class = "form-control", placeholder = "Cualitativa Parcial I" } })
                    </td>

                    <!-- Parcial II -->
                    <td>
                        @Html.EditorFor(m => m.Calificaciones[i].NCuantitativa, new { htmlAttributes = new { @class = "form-control", placeholder = "Nota Parcial II" } })
                        @Html.Hidden("Calificaciones[" + i + "].ParcialId", 3) <!-- ID para Parcial II -->
                    </td>
                    <td>
                        @Html.EditorFor(m => m.Calificaciones[i].NCualitativa, new { htmlAttributes = new { @class = "form-control", placeholder = "Cualitativa Parcial II" } })
                    </td>

                    <!-- Parcial III -->
                    <td>
                        @Html.EditorFor(m => m.Calificaciones[i].NCuantitativa, new { htmlAttributes = new { @class = "form-control", placeholder = "Nota Parcial III" } })
                        @Html.Hidden("Calificaciones[" + i + "].ParcialId", 4) <!-- ID para Parcial III -->
                    </td>
                    <td>
                        @Html.EditorFor(m => m.Calificaciones[i].NCualitativa, new { htmlAttributes = new { @class = "form-control", placeholder = "Cualitativa Parcial III" } })
                    </td>

                    <!-- Parcial IV -->
                    <td>
                        @Html.EditorFor(m => m.Calificaciones[i].NCuantitativa, new { htmlAttributes = new { @class = "form-control", placeholder = "Nota Parcial IV" } })
                        @Html.Hidden("Calificaciones[" + i + "].ParcialId", 5) <!-- ID para Parcial IV -->
                    </td>
                    <td>
                        @Html.EditorFor(m => m.Calificaciones[i].NCualitativa, new { htmlAttributes = new { @class = "form-control", placeholder = "Cualitativa Parcial IV" } })
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Guardar</button>
}
